@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



.slick-dots li button::before
{
  color: #fff !important; 


}
.slick-dots li.slick-active button::before
{
    opacity: .75;
    width: 20px !important;/*each dot size*/
    height: 7px !important;
    border-radius: 2rem !important;
    background: #61da9a;
    top: 5px !important;
    content: '' !important;

    /* transition: width .2s linear, height .2s !important; */
}

.tv-or-movies-select, .seasons-select {
  background-color: transparent;

  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;

  width: calc(268px - 150px);
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: no-repeat right #dddddd00;
    -webkit-appearance: none;
    background-position-x: calc(244px - 150px);
}

.caret {
  transition: transform .2s linear;
}
.select-caret-rotate {
  transform: rotate(-180deg);
}

button {
  cursor: pointer;
}

.hr {
  border: none;
  border-bottom: 0.01px solid #8b8b8b72;
  margin-block: 50px;
}


li {
  list-style-position: inside;
}



/* svg {
  transition: all 5s linear;
} */

#curve-canvas {
  width: 100%;
  height: 100%;
  background: #0aefe3f9;
} 


.parts-selectors-view-area {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.parts-selectors-view-area::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


.glowing-border {
  /* border-bottom: #61da9a 2px solid; */
  border-bottom: #61da9a 1px solid;
}


/*
  .container{
            background-color: aliceblue;
            width: 100px;
            height: 100px;
        }
        @media (max-width: 768px), (max-height: 500px) { 
            .container{ 
                background-color: grey;
            }
        }   
*/



/* Pertanto, quando la larghezza è compresa tra 600 px e 900 px o l'altezza è inferiore a 500 px, la seconda casella viene nascosta. */


/* 
 .box{
            background-color: lightgreen;
            width: 150px;
            height: 150px;
            margin: 2rem;
            display: block;
        }
        @media (min-width: 600px) and 
               (max-width: 900px), 
               (max-height: 500px) { 
            .box-2{ 
                display: none;
            }
        }   
 */


